.fon{
    background-color: #fff7e5;
}

.card{
    width: 610px;
    height: 1500px;
    background-color: white;
    border-radius: 25px;
    margin-left: 650px ;
    margin-top: 100px;
    position: relative;
}
img{
    width: 570px;
    height: 350px;
    padding: 30px;
    border-radius: 30px;
}
h1{
    padding-left: 30px;
    font-size: 40px;
    margin-top: 1px;
}
p{
    padding: 30px;
    margin-top: 1px;
}
.p{
    margin-top: 10px;
}
.pre{
    display: block;
    width: 570px;
    height: 150px;
    background-color:rgb(242, 221, 237);
    border-radius: 15px;
    margin-left: 30px;

}
span{
    color: rgb(195, 145, 85);
}
#s1{
    color:rgb(154, 36, 77);
}
h3{
    margin-left: 30px;
    margin-top: 15px;
    font-size: 20px;
}
.in{
    margin-left: 30px;
}
h2{
    color: rgb(109, 76, 36);
}
li{
    color:rgb(113, 95, 73); 
}

hr{
    align-items: center;
    width: 90%;
}
.ins{
    display: block;
    margin-left: 30px;
}
.ins,p{
    margin-right: 10px;
}